<form action="/session/create" method="POST" class="form-signin">
    <h2 class="form-signin-heading">Administrator Log-In</h2>

    <% if (flash && flash.err) { %>
    <ul class="alert alert-success">
        <% (flash.err).forEach(function(error) { %>
        <li><%- error.message %></li>
        <% }) %>
    </ul>
    <% } %>

    <input type="text" class="form-control" placeholder="Admin Name" name="adminName" autofocus="true">

    <input type="password" class="form-control" placeholder="Password" name="password">

    <br>

    <input type="submit" class="btn btn-lg bg-primary btn-block" value="Log In">
    <input type="hidden" name="_csrf" value="<%=_csrf%>">

</form>