@lightGrey: #ececec;

body {
    padding-top: 80px;
    padding-bottom: 40px;
}

.container {
  max-width: 900px;
}

.navbar-inverse {
  background-color: #1d3b31;
}

.navbar-btn {
  margin-left: 6px;
}

.jumbotron {
    text-align:center;

  p {
    text-align: left;
    font-size: 1.2em;
  }

  h1 {
    margin-top: 0;
    margin-bottom: 0;
  }

  h2 {
    font-size: 1.5em;
    letter-spacing: -1px;
    margin-top: 3px;
    margin-bottom: 30px;
    text-align: center;
    font-weight: normal;
    color: #808080;
  }

  h3 {
    line-height: 1.4em;
    margin-top: 30px;
  }
}

.container .gray {
    color: gray;
}

.container {
  .footer {
    max-width: 300px;
  }
}

.index-marketing {
  padding: 20px 40px;

  h4 {
    text-align: center;
    font-size: 1.4em;
  }

  p, ul {
    margin: 20px 12px;
    font-size: 1.1em;
    line-height: 1.5em;
    list-style: none;
  }

  p:nth-child(3) {
    margin-bottom: 3em;
  }

  ul {
    padding-left: 0;
  }
  li {
    margin-bottom: .5em;
  }
}

.form-signin {
    max-width: 400px;
    padding: 10px 30px 29px;
    margin: 0 auto 40px;
    border-radius: 15px;
    background-color: @lightGrey;

  h2 {
    text-align: center;
    margin-bottom: 20px;
  }

  input {
    margin-top: 12px;
  }

  textarea {
    height: 220px;
    margin-top: 12px;
  }
}

.show-member {
  max-width: 500px;
  padding: 10px 30px 29px;
  margin: 0 auto 40px;
  border-radius: 15px;
  background-color: @lightGrey;
  clear: both;

  h1 {
    margin-bottom: .6em;
  }

  p {
    margin: 20px 0;
  }
}

.user-data {
  background-color: palegreen;
}

.index-member {

  table {
    max-width: 600px;
    margin: auto;
  }

  td:nth-child(even) {
    font-weight: bold;
  }

  h3 {
    text-align: center;
    margin-bottom: 1em;
  }

}

.confirm-member {
  h1 {
    margin-bottom: .5em;
    text-align: center;
  }

  p {
    text-align: left;
  }
}