<div class="container confirm-member">
    <div class="jumbotron">
        <h1>Thank You!</h1>
        <p>We are thrilled you've taken an interest in this cause and will be in touch in the near future.</p>
        <p>Feel free to browse around the site.</p>
        <a href="/" class="btn btn-lg btn-success">OPSEWM</a>
    </div>
</div>