<form action="/member/update/<%= member.id %>" method="POST" class="form-signin">
    <h2 class="form-signin-heading">Let's Try This Again</h2>

    <% if (flash && flash.err) { %>
    <ul class="alert alert-success">
        <% Object.keys(flash.err.ValidationError).forEach(function(error) { %>
        <li>Required Field: <%- JSON.stringify(error) %></li>
        <% }) %>
    </ul>
    <% } %>

    <input type="text" class="form-control" value="<%= member.firstName %>" name="firstName" autofocus="true">

    <input type="text" class="form-control" value="<%= member.lastName %>" name="lastName">

    <input type="text" class="form-control" value="<%= member.email %>" name="email">

    <input type="number" class="form-control" value="<%= member.hoursAvailable %>" name="hoursAvailable">

    <textarea name="skills" class="form-control"><%= member.skills %></textarea>
    <br>

    <input type="submit" class="btn btn-lg bg-primary btn-block" value="Okay, that's better!">
    <input type="hidden" name="_csrf" value="<%=_csrf%>">

</form>