<div class="container index-member">
    <h3>Potential Members</h3>
    <table class="table" >


        <% _.each(members, function(member) { %>

        <tr>
            <td>First</td>
            <td><%= member.firstName %></td>
        </tr>
        <tr>
            <td>Last</td>
            <td><%= member.lastName %></td>
        </tr>
        <tr>
            <td>Email</td>
            <td><%= member.email %></td>
        </tr>
        <tr>
            <td>Hours</td>
            <td><%= member.hoursAvailable %></td>
        </tr>
        <tr>
            <td>Notes</td>
            <td><%= member.skills %></td>
        </tr>

        <td>
            <a href="/member/edit/<%= member.id %>" class="btn btn-sm btn-warning">&nbsp;&nbsp;Edit&nbsp;&nbsp;</a>
        </td>

        <td>
            <form action="/member/destroy/<%= member.id %>" method="POST">
                <input type="hidden" name="_method" value="delete">
                <input type="submit" class="btn btn-sm btn-danger pull-right" value="Delete">
                <input type="hidden" name="_csrf" value="<%= _csrf %>">
            </form>
        </td>
        <tr><td></td><td></td></tr>


        <% }) %>
    </table>
</div>


