<form action="/member/create" method="POST" class="form-signin" id="signup-form">
    <h2 class="form-signin-heading">Getting To Know You</h2>

    <% if (flash && flash.err) { %>
    <ul class="alert alert-success">
        <% Object.keys(flash.err.ValidationError).forEach(function(error) { %>
        <li>Required Field: <%- JSON.stringify(error) %></li>
        <% }) %>
    </ul>
    <% } %>

    <input type="text" class="form-control" placeholder="Your first name" name="firstName" autofocus="true">

    <input type="text" class="form-control" placeholder="Your last name" name="lastName">

    <input type="text" class="form-control" placeholder="Your email address" name="email">

    <input type="number" class="form-control" placeholder="Avg hours available per week (Example: 8)" name="hoursAvailable">

    <textarea name="skills" class="form-control" placeholder="Please talk a little about any experience
 or skills you bring with you or ways you might want to contribute."></textarea>
    <br>

    <input type="submit" class="btn btn-lg bg-primary btn-block" value="Submit Your Info">
    <input type="hidden" name="_csrf" value="<%=_csrf%>">

</form>