<div class="container">
    <div class="show-member">
        <h1>Does this describe you?</h1>
        <h4>Name: <span class="user-data"><%= member.firstName %> <%= member.lastName %></span></h4>
        <h4>Email: <span class="user-data"> <%= member.email %></span></h4>
        <h4>Availability: Roughly <span class="user-data"><%= member.hoursAvailable %></span> hours per week.</h4>
        <p><b>Notes:</b> <span class="user-data"><%= member.skills %></span></p>


        <a class="btn btn-medium btn-warning pull-left" href="/member/edit/<%= member.id %>">No, not quite.</a>
        <a class="btn btn-medium btn-success pull-right" href="/member/confirm">Yes, perfect!</a>
        <div class="clearfix"></div>
    </div>
</div>