
<div class="container">
    <div class="jumbotron">
        <h1>OPSEWM</h1>
        <h2>An Organization to Promote STEM Education for Women and Minorities</h2>

        <a href="/member/new" class="btn btn-lg btn-success">Yes, I'm Interested!</a>

        <h3>OPSEWM is currently seeking like-minded individuals to build this organization from the ground up.
            Will you join us?</h3>
    </div>

    <div class="row marketing index-marketing">
        <div class="col-lg-6">
            <h4>Our Mission</h4>
            <p>It's all in the name, really. OPSEWM recognizes that women and minorities are
                underrepresented in the fields of science and engineering, and we seek to address this imbalance.
                Our organization is currently in the initial stages of formation, and we are in need of individuals
                with all levels of experience. If you are interested in us, we are interested in you!
            </p>

            <p><b><i>Note: This is a hypothetical organization for a school-related project. If you somehow happened upon
                    this website and have found yourself interested in this cause, I encourage you to take a look a the
                    adjacent list of related organizations.

            </i></b></p>
        </div>

        <div class="col-lg-6">
            <h4>Related Organizations</h4>
            <ul>
                <li><a href="http://www.nacme.org">National Action Council for Minorities in Engineering</a></li>
                <li><a href="http://www.namepa.org/">National Association of Multicultural Engineering Program Advocates</a></li>
                <li><a href="http://www.awis.org">Association for Women in Science</a></li>
                <li><a href="http://steminist.com/">STEMinist</a></li>
                <li><a href="http://www.stemwomen.net/">STEM Women</a></li>
            </ul>
        </div>
    </div>
</div>
